body {
  padding: 0;
  margin: 0; }

.section-header-bckr {
  background-color: #f18622; }

.section-header {
  color: white; }
  .section-header-title {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 25px;
    padding: 4px; }
    .section-header-title__menu {
      height: 50%; }
      .section-header-title__menu ul {
        list-style: none;
        margin: 0;
        padding: 0; }
      .section-header-title__menu-top a {
        display: block;
        padding: 0 10px;
        text-decoration: none;
        outline: none;
        transition: .2s linear;
        color: white; }
      .section-header-title__menu-top a:hover {
        color: #fbbb7f; }
    .section-header-title-contact {
      display: flex;
      color: white;
      font-weight: bold; }
      .section-header-title-contact__telefone {
        padding-right: 10px; }

.section-header-title__menu-submenu li a {
  color: black; }

.section-header-title__menu-top > li {
  display: inline-block;
  position: relative; }

.section-header-title__menu-submenu {
  position: absolute;
  top: 27px;
  left: -60px;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: none; }

.section-header-title__menu ul li:hover .section-header-title__menu-submenu {
  display: block;
  background-color: white;
  border: 1px solid gray;
  box-shadow: -13px 11px 12px -5px rgba(123, 125, 128, 0.2);
  border-radius: 4px;
  height: 100px;
  width: 200px; }

.section-header__nav {
  max-width: 1240px;
  margin: 0 auto; }
  .section-header__nav-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .section-header__nav-wrapper-search {
      width: 450px;
      height: 40px;
      margin-top: 15px;
      border: 1px solid rgba(123, 125, 128, 0.2);
      border-radius: 8px;
      box-shadow: -13px 11px 12px -5px rgba(123, 125, 128, 0.2); }
      .section-header__nav-wrapper-search-form {
        padding: 2px;
        display: flex;
        justify-content: space-between;
        padding-top: 10px; }
      .section-header__nav-wrapper-search-input {
        border: none; }
      .section-header__nav-wrapper-search-btn {
        border: none;
        background-color: white; }
    .section-header__nav-wrapper-btn {
      display: flex;
      padding-top: 15px; }
      .section-header__nav-wrapper-btn-item a {
        text-decoration: none;
        color: black; }
      .section-header__nav-wrapper-btn-item:nth-child(even) {
        padding: 0 35px 0 35px; }

.section-grid {
  background-color: rgba(185, 187, 189, 0.404);
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 450px 150px 300px;
  grid-template-rows: 200px 150px 150px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px 40px 20px 40px; }
  .section-grid__menu {
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    border-radius: 10px; }
  .section-grid__slider {
    background-color: purple;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; }
  .section-grid__sale {
    background-color: yellow;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2; }
  .section-grid__offer {
    background-color: orange;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3; }
  .section-grid__news1 {
    background-color: pink;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4; }
  .section-grid__news2 {
    background-color: paleturquoise;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4; }
