

// ++++++++++++++ section-header +++++++++++
body {
    padding: 0;
    margin: 0;
}


.section-header-bckr {
  
    background-color: rgb(241, 134, 34);
    
}

.section-header {
    color: white;
    
    &-title {
        max-width: 1240px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        height: 25px;
        padding: 4px;

    
        &__menu {
        
            height: 50%;
            width: 600px;
                a {
                    padding-left: 20px;
                    float: left;
                    transition: 0.5s all;
                    color: white;
                    text-decoration: none;
                    outline: none;
                }

                a:hover {
                    color: rgb(251, 187, 127);
                }

                ul {
                list-style: none; 
                margin: 0;
                padding: 0;
                }

                    &-top  {}
    
        }

        &-contact {
            display: flex;
            color: white;
            font-weight: bold;
            
            &__telefone {
                padding-right: 10px;
            }
            &__time {}
        }
    }
}

.menu__list-dns {
    position: relative;
    ul  a {
        color: black
    }

    &::after {
    content: " ";
    position: absolute;
    border: 5px solid transparent;
    border-top: 5px solid white;
    top: 8px;
    right: 390px;
    transition: 0.5s;
    }

    &:hover .section-header-title__menu-submenu {
        top: 0;
        display: block;
        background-color: white;
        top: 35px;
        left: 50px;
        box-shadow: -13px 11px 12px -5px rgba(123, 125, 128, 0.2);
        border-radius: 4px;
        transition: 0.5s;
        
        &::after {
            content: " ";
            position: absolute;
            rder-color:  transparent transparent white;
            top: -32px;
            left: 80px;
            transition: 0.5s;
            border: 13px solid transparent;
            border-bottom: 13px solid white;
        }

    }
}
.section-header-title__menu-submenu {
    position: absolute;
    display: none;
}


// ++++++++++++++  section-header nav +++++++++++
.section-header__nav {
    max-width: 1240px;
    margin: 0 auto;

    &-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;

            &-logo {}
            &-search {
                width: 400px;
                height: 40px;
                margin-top: 15px;
                margin-right: -40px;
                margin-left: -40px;
                border-radius: 8px;
                background-color: rgba(197, 200, 206, 0.342);
                
                &:hover {
                    box-shadow: -13px 11px 12px -5px rgba(123, 125, 128, 0.2);
                    background-color: #fff;
                }

                &-form {
                    padding: 2px;
                    display: flex;
                    justify-content: space-between;
                    padding-top: 10px;   

                }
                    &-input {
                        border: none;
                    }
                    &-btn {
                        border: none;
                        background-color: white;

                        &-icon {
                            width: 14px;
                            height: 14px;
                        }
                          
                    }
            }
            &-btn {
                display: flex;
                padding-top: 15px;

                &-item {

                    &-icon {
                        width: 14px;
                        height: 14px;
                        padding-right: 8px;

                    }
                    
                    &-text {
                        font-size: 18px;
                        color: rgba(81, 81, 85, 0.89);
                        
                    }

                    a {
                        text-decoration: none;
                        color: black;
                    }

                    &:hover &-text {
                        color: rgb(251, 187, 127);
                    }
                }
                &-item:nth-child(even) {
                    padding: 0 25px 0 25px;
                }
            }
    }
}
.section-header__nav-login {

    &-icon {
        width: 14px;
        height: 14px;
    }

    button {
        border: 1px solid rgba(81, 81, 85, 0.89);;
        border-radius: 13px;
        font-size: 18px;
        color: rgba(81, 81, 85, 0.89);
        height: 35px;
        width: 70px;
        background-color: #fff;
    }
    
    button:hover {
        background-color: rgb(241, 134, 34);
        color: white;
    }

    &-text {
        font-size: 18px;
        color: rgba(81, 81, 85, 0.89);
        border: none;
        border: 0;
        border-radius: 0;
        background: #ccc;
    }
}


// ++++++++++++++ / section-header nav +++++++++++

// ++++++++++++++ / section-header ++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++ section-grid +++++++++++++++++++++++++++++++++++++++++++
.grid-size {

    // max-width: 1240px;
    // margin: 0 auto;
}

.section-grid {

    background-color: rgba(197, 200, 206, 0.342);
    display: grid;
    justify-content: center;

    grid-template-columns: 250px 450px 150px 300px;
    grid-template-rows: 200px 150px 150px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px 40px 20px 40px;
    
    &__menu {
        background-color:white;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
        border-radius: 10px;
    }

    &__slider {
        // 600px x 200px
        // background-color: purple;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

     
        .swiper-container {
            width: 600px;
            height: 200px;
            // border: 2px solid black;
        }
        
        // .swiper-button-next::after {
        //     color: red;
        // }

    }
   
  
    &__sale {
        background-color: yellow;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    &__offer {
        background-color: orange;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    &__news1 {
        background-color: pink;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    &__news2 {
        background-color: paleturquoise;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

                        

// ++++++++++++++ / section-grid ++++++++++++