

// ++++++++++++++ section-header +++++++++++
body {
    padding: 0;
    margin: 0;
}

.section-header {
   color: white;
    
    &-title {
        background-color: rgb(241, 134, 34);
        display: flex;
        justify-content: space-between;
        height: 25px;
        padding: 4px;

    
        &__menu {

            
        
        height: 50%;

                ul {
                list-style: none; 
                margin: 0;
                padding: 0;
                }

                    &-top  {
                        
                        a {
                            display: block;
                            padding: 0 10px;
                            text-decoration: none;
                            outline: none;
                            transition: .2s linear;
                            color: white;
                        }
                        
                        a:hover {
                            color: rgb(251, 187, 127);
                        }
                    
                    }

    
        }

        &-contact {
            display: flex;
            color: white;
            font-weight: bold;
            
            &__telefone {
                padding-right: 10px;
            }
            &__time {}
        }
    }
}

.section-header-title__menu-top > li {
    display: inline-block;
    // margin-right: 20px;
    position: relative;
}

.section-header-title__menu-submenu {
    position: absolute;
    top: 27px;
    left: -60px;
    bottom: 0;
    width: 100%;
    z-index: 10;

    // Сд полоску, чтобы меню нижнее не убегало

    display: none;
}

.section-header-title__menu ul li:hover  .section-header-title__menu-submenu{
    display: block;
    background-color: white;
    border: 1px solid gray;
    box-shadow: gray;
    border-radius: 4px;
    height: 100px;
    width: 200px;

}

// ++++++++++++++ / section-header +++++++++++
// ++++++++++++++ section-grid ++++++++++++
.section-grid {

    display: grid;
    grid-template-columns: 250px 450px 150px 300px;
    grid-template-rows: 200px 150px 150px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: rgba(185, 187, 189, 0.404);
    padding: 20px 40px 20px 40px;
    
    &__menu {
        background-color:white;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
        border-radius: 10px;
    }

    &__slider {
        background-color: purple;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    &__sale {
        background-color: yellow;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    &__offer {
        background-color: orange;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    &__news1 {
        background-color: pink;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    &__news2 {
        background-color: paleturquoise;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

                        

// ++++++++++++++ / section-grid ++++++++++++